[package]
name = "ironfish-rust-nodejs"
version = "0.1.0"
license = "MPL-2.0"

[package.authors]
workspace = true

[package.edition]
workspace = true

[lib]
crate-type = ["cdylib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.13.0"
ironfish_rust = { path = "../ironfish-rust" }
napi-derive = "=2.9.1"
# Pinning this can be removed if we eventually move to the latest releases again
napi-derive-backend = "=1.0.38"
ironfish_mpc = { path = "../ironfish-mpc" }

[dependencies.napi]
version = "=2.9.1"
features = ["napi6"]

[build-dependencies]
napi-build = "2.0.1"
