[package]
name = "ironfish-rust-nodejs"
version = "0.1.0"
license = "MPL-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
napi-derive = "2.2.0"
ironfish_rust= { path = "../ironfish-rust", features = ["native"] }

[dependencies.napi]
version = "2.2.0"
features = ["napi6"]

[build-dependencies]
napi-build = "1.2.1"
