[package]
name = "ironfish-rust-nodejs"
version = "0.1.0"
license = "MPL-2.0"

[package.authors]
workspace = true

[package.edition]
workspace = true

[lib]
crate-type = ["cdylib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.13.0"
hex = "0.4.3"
ironfish_rust = { path = "../ironfish-rust" }
napi-derive = "2.9.0"

[dependencies.napi]
version = "2.9.0"
features = ["napi6"]

[build-dependencies]
napi-build = "2.0.1"
