
# MacOS-specific environment setup using Homebrew
if [[ $OSTYPE == 'darwin'* ]]; then

  ! has brew && echo "Install Homebrew (https://brew.sh/) and run 'brew bundle' to install build dependencies" && exit 1

  [ ! -f Brewfile.lock.json -o Brewfile.lock.json -ot Brewfile ] && echo "Run 'brew bundle' to install build dependencies" && exit 1

  # Notify to install rust via rustup-init
  ! has rustc && echo "Run rustup-init to install rust toolchain" && exit 1

  # Use project-specific node version required by workspaces (see engines)
  PATH_add $(brew --prefix node@16)/bin

  # Reference openssl installation
  export OPENSSL_ROOT_DIR=$(brew --prefix openssl)

fi

# Add node_modules/.bin to PATH to use project/version-specific dependencies
# See https://direnv.net/man/direnv-stdlib.1.html#codelayout-nodecode
layout node
