name: Node.js CI Regenerate Fixtures

on:
  schedule:
    - cron: '0 15 * * 2' # Every Tuesday 7AM PST

jobs:
  test:
    name: Test
    runs-on: ubuntu-22.04

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          ref: staging

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: nodejs

      - name: Install packages
        run: yarn --non-interactive --frozen-lockfile

      - name: Delete fixture files
        run: node ./tools/delete-fixtures.js

      - name: Run tests
        run: JEST_TIMEOUT=1000000000 yarn test:coverage --maxWorkers=2 --workerIdleMemoryLimit=2000MB

      - name: Run slow tests
        run: JEST_TIMEOUT=1000000000 yarn test:slow:coverage --maxWorkers=2 --workerIdleMemoryLimit=2000MB

      - name: Report Status
        if: always()
        uses: ravsamhq/notify-slack-action@master
        with:
          status: ${{ job.status }}
          notify_when: 'failure'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.GH_ACTIONS_SLACK_WEBHOOK }}
