name: Node.js CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.13.0'
          cache: 'yarn'

      - name: Install packages
        run: yarn --non-interactive --ignore-scripts

      # Necessary since `--frozen-lockfile` does not work properly in yarn 1.x.
      # https://github.com/yarnpkg/yarn/issues/5840
      - name: Check for lockfile changes
        run: |
          if [[ $(git status | grep yarn.lock) ]]; then
            echo "yarn.lock has outstanding updates, please check them in."
            exit 1
          fi

      - name: Lint
        run: yarn lint

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          # Using 16.10 to fix https://github.com/facebook/jest/issues/11956
          node-version: '16.10.0'
          cache: 'yarn'

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: nodejs

      - name: Install packages
        run: yarn --non-interactive --frozen-lockfile

      - name: Run tests
        run: yarn test:coverage

      - name: Upload coverage
        if: github.repository == 'iron-fish/ironfish'
        run: CODECOV_TOKEN=${{ secrets.CODECOV_TOKEN }} ROOT_PATH=$GITHUB_WORKSPACE/ yarn coverage:upload

  testslow:
    name: Slow Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.13.0'
          cache: 'yarn'

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: nodejs

      - name: Install packages
        run: yarn --non-interactive --frozen-lockfile

      - name: Run slow tests & coverage
        run: yarn test:slow:coverage

      - name: Upload coverage
        if: github.repository == 'iron-fish/ironfish'
        run: CODECOV_TOKEN=${{ secrets.CODECOV_TOKEN }} ROOT_PATH=$GITHUB_WORKSPACE/ yarn coverage:upload
