name: Deploy Brew Tap Release
on: workflow_dispatch

jobs:
  Deploy:
    name: Deploy
    runs-on: macos-10.15

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: "Use Rust Toolchain"
        uses: actions-rs/toolchain@v1
        with:
          components: rustfmt, clippy

      - name: Use wasm-pack
        uses: actions-rs/install@v0.1
        with:
          crate: wasm-pack
          version: latest
          use-tool-cache: true

      - name: Cache Cargo registry
        uses: actions/cache@v2
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache Cargo index
        uses: actions/cache@v2
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-stable-cargo-index-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache Cargo build
        uses: actions/cache@v1
        with:
          path: ironfish-wasm/target
          key: ${{ runner.os }}-stable-target-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache Ironfish CLI Build
        id: cache-ironfish-cli-build
        uses: actions/cache@v1
        with:
          path: ironfish-cli/build.cli/ironfish-cli.tar.gz
          key: ${{ github.sha }}

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.16.0'

      - name: Build Ironfish CLI
        if: steps.cache-ironfish-cli-build.outputs.cache-hit != 'true'
        run: ./ironfish-cli/scripts/build.sh

      - name: Deploy Ironfish CLI Brew
        run: ./ironfish-cli/scripts/deploy-brew.sh
        env:
          BREW_GITHUB_USERNAME: ${{ secrets.BREW_GITHUB_USERNAME }}
          BREW_GITHUB_TOKEN: ${{ secrets.BREW_GITHUB_TOKEN }}
