name: Deploy @ironfish/rust-nodejs NPM Packages

env:
  DEBUG: 'napi:*'
  MACOSX_DEPLOYMENT_TARGET: '10.13'

on:
  workflow_dispatch:

jobs:
  build-and-test:
    uses: ./.github/workflows/build-ironfish-rust-nodejs.yml

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs:
      - build-and-test
    defaults:
      run:
        working-directory: ./ironfish-rust-nodejs

    steps:
      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
          cache: yarn

      - name: Install dependencies
        run: npm install --no-workspaces

      - name: Download all artifacts
        uses: actions/download-artifact@v3
        with:
          path: ironfish-rust-nodejs/artifacts

      - name: List packages
        run: ls -R .
        shell: bash

      - name: Move and publish artifacts
        run: yarn artifacts

      - name: List packages
        run: ls -R ./npm

      - name: Publish
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
